@use "../utils/" as u;
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    padding: 0 u.rem(24);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: u.rem(16);
    background: var(--base-primary-bg-color) var(--base-bg-mobile-image)
        no-repeat;

    @include u.breakpoint(small) {
        background: var(--base-primary-bg-color) var(--base-bg-tablet-image)
            no-repeat;
    }

    @include u.breakpoint(medium) {
        background: var(--base-primary-bg-color) var(--base-bg-desktop-image)
            no-repeat center center fixed;
        background-size: cover;
        padding: 0 u.rem(32);
    }
}
section {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: u.rem(40);
    width: 100%;
    padding-bottom: u.rem(16);

    @include u.breakpoint(small) {
        gap: u.rem(64);
        max-width: u.rem(640);
    }

    @include u.breakpoint(medium) {
        flex-direction: row;
        gap: u.rem(100);
        max-width: u.rem(1100);
    }
}

button {
    display: flex;
    align-items: center;
    text-align: left;
    gap: u.rem(16);
    padding: u.rem(16);
    height: clamp(4.5rem, 3rem + 4vw, 5.5rem);
    background-color: var(--base-secondary-bg-color);
    border: none;
    border-radius: u.rem(12);
    color: var(--text-color-primary);
    box-shadow: 0 u.rem(16) u.rem(40) 0 var(--box-shadow-color);
    cursor: pointer;

    @include u.text-preset-4;

    &:hover {
        border: u.rem(3) solid var(--color-purple-600);

        & .answer__letter {
            color: var(--color-white);
            background-color: var(--color-purple-600);
        }
    }

    &:focus {
        outline: none;
        border: u.rem(3) solid var(--color-purple-600);

        & .answer__letter {
            color: var(--color-white);
            background-color: var(--color-purple-600);
        }
    }
}

button.submit__button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-purple-600);

    &.disabled {
        opacity: 50%;
    }
}

span.icon__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(2.5rem, 1rem + 3vw, 2.6rem);
    height: clamp(2.5rem, 1rem + 3vw, 2.6rem);
    min-width: u.rem(40);
    min-height: u.rem(40);
    border-radius: u.rem(6);

    @include u.breakpoint(small) {
        min-width: u.rem(44);
        min-height: u.rem(44);
    }

    & img {
        width: clamp(1.8rem, 1.05rem + 1.2vw, 2.5rem);
        height: clamp(1.8rem, 1.05rem + 1.2vw, 2.5rem);
    }

    &.html__bg {
        background-color: var(--color-orange-50);
    }

    &.css__bg {
        background-color: var(--color-green-100);
    }

    &.javascript__bg {
        background-color: var(--color-blue-50);
    }

    &.accessibility__bg {
        background-color: var(--color-purple-100);
    }
}

// Utility classes

.hidden {
    display: none !important;
}
