@use "../utils/" as u;
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    padding: 0 u.rem(24);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--base-primary-bg-color) var(--base-bg-mobile-image)
        no-repeat;

    @include u.breakpoint(small) {
        background: var(--base-primary-bg-color) var(--base-bg-tablet-image)
            no-repeat;
    }

    @include u.breakpoint(medium) {
        background: var(--base-primary-bg-color) var(--base-bg-desktop-image)
            no-repeat center center fixed;
        background-size: cover;
        padding: 0 u.rem(32);
    }
}

main {
    padding-top: u.rem(32);
    display: flex;
    flex-direction: column;
    gap: u.rem(40);
    width: 100%;

    @include u.breakpoint(small) {
        gap: u.rem(64);
        max-width: u.rem(640);
    }

    @include u.breakpoint(medium) {
        flex-direction: row;
        gap: u.rem(100);
        max-width: u.rem(1100);
    }
}

section {
    display: flex;
    flex-direction: column;
    gap: u.rem(16);
    width: 100%;
}

// Utility classes

.hidden {
    display: none !important;
}
