@use "../utils/" as u;

header {
    display: flex;
    align-items: center;
    height: u.rem(56);
    padding: u.rem(16) 0;

    & .header__title {
        display: flex;
        align-items: center;
        gap: u.rem(16);

        & img {
            width: clamp(2.5rem, 1rem + 4vw, 3.5rem);
            height: clamp(2.5rem, 1rem + 4vh, 3.5rem);
        }

        & h1 {
            color: var(--color-blue-900);

            @include u.text-preset-4;
        }
    }

    & .header__theme {
        display: flex;
        align-items: center;
        gap: u.rem(8);
        margin-left: auto;

        & svg {
            width: u.rem(16);
            height: u.rem(16);
            fill: var(--color-grey-500);
        }

        & input {
            appearance: none;
            outline: none;
            position: relative;
            width: u.rem(32);
            height: u.rem(20);
            border-radius: u.rem(20);
            background-color: var(--color-purple-600);
            cursor: pointer;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 35%;
                width: u.rem(14);
                height: u.rem(14);
                border-radius: 50%;
                background-color: var(--color-white);
                transform: translate(-50%, -50%);
                transition: left 0.3s;
            }

            &:checked::after {
                left: 65%;
            }
        }
    }
}
