@use "../utils/" as u;

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: u.rem(56);
    padding: u.rem(16) 0;

    @include u.breakpoint(small) {
        padding: u.rem(60) 0 u.rem(40) 0;
        max-width: u.rem(640);
    }

    @include u.breakpoint(medium) {
        padding: u.rem(90) 0;
        max-width: u.rem(1100);
    }

    & .header__title {
        display: flex;
        align-items: center;
        gap: u.rem(16);

        & img {
            width: clamp(2.5rem, 1rem + 4vw, 3.5rem);
            height: clamp(2.5rem, 1rem + 4vh, 3.5rem);
        }

        & h1 {
            color: var(--text-color-primary);

            @include u.text-preset-4;
        }
    }

    & .header__theme {
        display: flex;
        align-items: center;
        gap: u.rem(8);
        margin-left: auto;

        & svg {
            width: clamp(1rem, 0.25rem + 2vw, 1.5rem);
            height: clamp(1rem, 0.25rem + 2vw, 1.5rem);
            fill: var(--svg-color);
        }

        & input {
            appearance: none;
            outline: none;
            position: relative;
            width: clamp(2rem, 0.5rem + 4vw, 3rem);
            height: clamp(1.25rem, 0.5rem + 2vw, 1.75rem);
            border-radius: u.rem(20);
            background-color: var(--color-purple-600);
            cursor: pointer;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 35%;
                width: clamp(0.875rem, 0.125rem + 2vw, 1.375rem);
                height: clamp(0.875rem, 0.125rem + 2vw, 1.375rem);
                border-radius: 50%;
                background-color: var(--color-white);
                translate: -50% -50%;
                transition: left 0.3s;
            }

            &:checked::after {
                left: 65%;
            }
        }
    }
}
