@use "../utils/" as u;

.start__view--title {
    @include u.breakpoint(medium) {
        gap: u.rem(48);
    }

    & h2 {
        color: var(--text-color-primary);

        @include u.text-preset-2-light;

        & span {
            display: block;
            margin-top: u.rem(8);
            @include u.text-preset-2-medium;
        }
    }

    & p {
        color: var(--text-color-secondary);

        @include u.text-preset-5;
    }
}

.start__view--content {
    gap: u.rem(16);
    & button {
        & span {
            &.html__bg {
                background-color: var(--color-orange-50);
            }

            &.css__bg {
                background-color: var(--color-green-100);
            }

            &.js__bg {
                background-color: var(--color-blue-50);
            }

            &.accessibility__bg {
                background-color: var(--color-purple-100);
            }

            & img {
                width: clamp(1.75rem, 0.625rem + 3vw, 2.5rem);
                height: clamp(1.75rem, 0.625rem + 3vw, 2.5rem);
            }
        }
    }
}
