@use "../utils/" as u;

.start__view--title {
    display: flex;
    flex-direction: column;
    gap: u.rem(16);

    @include u.breakpoint(medium) {
        gap: u.rem(48);
    }

    & h1 {
        color: var(--text-color-primary);

        @include u.text-preset-2-light;

        & span {
            display: block;
            margin-top: u.rem(8);
            @include u.text-preset-2-medium;
        }
    }

    & h3 {
        color: var(--text-color-secondary);

        @include u.text-preset-5;
    }
}

.start__view--content {
    display: flex;
    flex-direction: column;
    gap: u.rem(16);
}
